<link href="~/css/Validation.css" rel="stylesheet" />
@using newsSite.Models.ViewModels;
@model SignUpViewModel;
<div class="container offset-md-4 col-md-4">
    <h2>Sign Up</h2>
    <br />
    <form asp-action="SignUpConfirm" asp-controller="Account">
        <div class="form-group">
            <input class="form-control" asp-for="Email" placeholder="Email" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Password" placeholder="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="RePassword" placeholder="Re-enter Password" />
            <span class="text-danger" asp-validation-for="RePassword"></span>
        </div>

        <div class="form-group">
            <input class="form-control" asp-for="Name" placeholder="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Family" placeholder="Family" />
            <span class="text-danger" asp-validation-for="Family"></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="PhoneNum" placeholder="Phone" />
            <span class="text-danger" asp-validation-for="PhoneNum"></span>
        </div>
        <button class="btn btn-success">Sign Up</button>
        <label class="label-danger">@TempData["GlobalAuthenticationMessage"]</label>
    </form>
</div>

