<link href="~/css/ChatPartial.css" rel="stylesheet" />
<script src="~/js/ChatPartial.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="panel panel-chat">
            <div class="panel-heading">
                <a href="#" class="chatMinimize" onclick="return false"><span>Özgür Gürbüz</span></a>
                <a href="#" class="chatClose" onclick="return false"><i class="glyphicon glyphicon-remove"></i></a>
                <div class="clearFix"></div>
            </div>
            <div class="panel-body">
                <div class="messageMe">
                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" alt="" />
                    <span>asdasdssadasdasdassssssssssssssssssssssssssssssssssssssssssdasdasd</span>
                    <div class="clearFix"></div>
                </div>
                <div class="messageHer">
                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" alt="" />
                    <span>asdasdsassssssssssssssssssssssssssssssssssssssss</span>
                    <div class="clearFix"></div>
                </div>
                <div class="messageMe">
                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" alt="" />
                    <span>asdasdssadasdasdassssssssssssssssssssssssssssssssssssssssssdasdasd</span>
                    <div class="clearFix"></div>
                </div>
                <div class="messageHer">
                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" alt="" />
                    <span>asdasdsassssssssssssssssssssssssssssssssssssssss</span>
                    <div class="clearFix"></div>
                </div>
                <div class="messageMe">
                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" alt="" />
                    <span>asdasdssadasdasdassssssssssssssssssssssssssssssssssssssssssdasdasd</span>
                    <div class="clearFix"></div>
                </div>
                <div class="messageHer">
                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" alt="" />
                    <span>asdasdsassssssssssssssssssssssssssssssssssssssss</span>
                    <div class="clearFix"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="panel-footer">
                <textarea name="textMessage" cols="0" rows="0"></textarea>
            </div>
        </div>
    </div>
</div>