@using newsSite.Models.ViewModels
@model ArticleViewModel
<div class="container col-md-10">
    <form asp-action="addarticleconfirmasync" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <textarea class="form-control" asp-for="Body" placeholder="Text" ></textarea>
            <span asp-validation-for="Body"></span>
        </div>
        <div class="form-group">
            <select id="comboCategory" class="form-control" asp-for="CategoryId">
                <option value="" selected="selected">--Category--</option>
            </select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" asp-for="Image" />
            <label class="custom-file-label">Image</label>
        </div>
        <button class="btn btn-success" style="margin-top:4px;">Post</button>
    </form>
</div>

<script>
    $(function () {
        $.post('/Home/CategoriesCombo', function (data) {
            $(comboCategory).append(data);
        })
    })
</script>